.footer {
  width: 320px;
  padding: 40px 20px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__academy-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645;
}
