.main-header {
  width: 320px;
  background: #283645;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-navigation__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
