.review {
  width: 320px;
  padding: 50px 20px;
  box-sizing: border-box;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slider-item__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.slider-item__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
